<!DOCTYPE html>
<html>
    <head>
        <title>Home Page</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Quicksand|Raleway" rel="stylesheet">
    </head>
    
    <body id="home">
        
        <div id="home-content">
            <p id="greeting">Welcome to S M Farhad's website</p>
            <hr>
            
            <p>
                I am studying Computer Science at Queens College, CUNY. My favorite programming
                language is Java and I am very proficient in OOP. Spring 2017 is going to be my
                last semester. I will miss Queens College.
            </p>
            
            <p>
                Technologies I am proficient in:
            </p>
            <ul>
                <div id="col1">
                    <li>Java</li>
                    <li>C++</li>
                    <li>C#</li>
                    <li>ASP.Net</li>
                    <li>HTML5</li>
                    <li>CSS3</li>
                </div>
                
                <div id="col2">
                    <li>JavaScript</li>
                    <li>jQuery</li>
                    <li>JSON</li>
                    <li>Node.JS</li>
                    <li>Git/GitHub</li>
                </div>
            </ul>
            
            <div id="nav-part">
                <p><em>Take a look at my Blog and JukeBox _</em></p>
                
                <div id="navigation">
                    <h4><a href="/blog">Blog</a></h4>
                    <h4><a href="https://eliasfarhad.github.io/">JukeBox</a></h4>
                </div>
            </div>
        </div>
        
        
    </body>
</html>