
<!DOCTYPE html>
<html>
    <head>
        <title>Document</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    
    <body class="blog">
        
        <div id="review">
            <h4><a href="/blog">Back to Blog Page</a></h4>
    
            <div id="review-main">
                <h2><%= blog.title %></h2>
                <p><%= blog.body %></p>
            </div>
        </div>

    </body>
</html>
